<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="../css/layui.css">
    <link rel="stylesheet" href="../css/sNav.css">
    <link rel="stylesheet" type="text/css" href="../css/gradualChange.css">
    <link rel="stylesheet" type="text/css" href="../elsecssjs/main.css">
    <script src="../layui.all.js"></script>
    <script src="../js/jquery-3.5.0.min.js"></script>
    <script src="../js/sNav.min.js"></script>
    <script src="../js/echarts.min.js"></script>
    <script type="text/javascript" src="../elsecssjs/main.js"></script>
    <script src="../js/bootstrap.min.js" typeName="application/javascript"></script>

<head>
    <meta charset="UTF-8">
    <title>健身管理系统</title>
</head>
<body>



<div th:insert="navigation.html">

</div>

        <div class="word1" >
    <div class="container-fluid">

    <div class="row">
        <div class="row">
            <div class="col-lg-12">
                <table class="table table-bordered">
                    <colgroup>
                        <col width="150">
                        <col width="200">
                        <col>
                    </colgroup>
                    <thead>
                    <tr>
                        <th>会员号</th>
                        <th>会员名</th>
                        <th>性别</th>
                        <th>年龄</th>
                        <th>电子邮箱</th>
                        <th>电话号码</th>
                        <th>入会时间</th>
                        <th>到期时间</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td th:text="${vip.id}"></td>
                        <td th:text="${vip.vipname}"></td>
                        <td th:text="${vip.sex}"></td>
                        <td th:text="${vip.age}"></td>
                        <td th:text="${vip.email}"></td>
                        <td th:text="${vip.telephone}"></td>
                        <td  th:text="${vip.begintime}"></td>
                        <td th:text="${vip.endtime}"></td>
                    </tr>
                    </tbody>
                </table>
                <div id="view-chart" style="width: 500px;height: 400px;border: 1px solid #ccc;" >

                </div>
            </div>
        </div>
    </div>


        </div>
    </div>

<script>
    var container = document.getElementById('view-chart');
    // 初始化echarts对象
    var myContainer = echarts.init(container);
    var base = + new Date(2020,3,30);
    var oneDay = 24*3600*1000;
    var date = [];
    var data = [Math.abs(Math.random()*40)];
    var now = new Date(base);
    var day = 30;
    function addData(shift){
        now = [now.getFullYear(),now.getMonth()+1,now.getDate()].join('/');
        date.push(now);//添加元素
        data.push((Math.random()-0.5)*10+data[data.length-1]);
        if (shift) {
            console.log(data);
            date.shift();//移除首部元素
            data.shift();
        }
        now = new Date(+new Date(now)+oneDay);
    }

    for (var i = 0; i < day; i++) {
        addData();
    }
    //设置图标配置项
    myContainer.setOption({
        title:{
            text:'您的卡路里消耗量'
        },
        xAxis:{
            type:"category",
            boundaryGap:false,
            data:date
        },
        yAxis:{
            boundaryGap:[0,'100%'],
            type:'value'
        },
        series:[{
            name:'成交',
            type:'line',
            smooth:true, //数据光滑过度
            symbol:'none', //下一个数据点
            stack:'a',
            areaStyle:{
                normal:{
                    color:'pink'
                }
            },
            data:data
        }]
    })
    setInterval(function(){
        addData(true);
        myContainer.setOption({
            xAxis:{
                data:date
            },
            series:[{
                name:'成交',
                data:data
            }]
        });
    },1000)
</script>
</body>
</html>