<!doctype html>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
	<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
	<title>错误页面</title>
    <link rel="stylesheet" type="text/css" href="../errorcssjs/error.css">

	<!--[if IE]>
		<script src="http://libs.useso.com/js/html5shiv/3.7/html5shiv.min.js"></script>
	<![endif]-->
</head>
<body>
	<section class="canvas-wrap">
        <div class="canvas-content">
            <div id="errorInfo">
                <div id="errorInfo-inner">
                    <p>
                        请稍后
                        <a href="/">再试试</a>
                        吧!
                    </p>
                    
                </div>
            </div>
            <div id="errorInfo-bottom"></div>
        </div>
        <div id="canvas" class="gradient"></div>
    </section>
	<!-- Main library -->
    <script src="../errorcssjs/three.min.js"></script>
    <!-- Helpers -->
    <script src="../errorcssjs/projector.js"></script>
    <script src="../errorcssjs/canvas-renderer.js"></script>
    <!-- Visualitzation adjustments -->
    <script src="../errorcssjs/3d-lines-animation.js"></script>
</body>
</html>