<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="../css/layui.css">
    <link rel="stylesheet" href="../css/sNav.css">
    <link rel="stylesheet" type="text/css" href="../css/gradualChange.css">
    <script src="../layui.all.js"></script>
    <script src="../js/jquery-3.5.0.min.js"></script>
    <script src="../js/sNav.min.js"></script>
    <script src="../js/echarts.min.js"></script>
    <script src="../js/bootstrap.min.js" typeName="application/javascript"></script>

<head>
    <meta charset="UTF-8">
    <title>健身管理系统</title>
</head>
<body>





<div th:insert="navigation.html">

</div>

        <form action="/vip/search"  style=" float: right ">
            <input type="text"  name="search_id">
            <input  type="submit" class="layui-btn layui-btn-radius layui-btn-primary" value="搜索">
            <span style="color: white">请填写会员号！！</span>
        </form>

    <div class="container-fluid">
        <div class="word1" >
    <div class="row">
        <div class="row">
            <div class="col-lg-3">
                会员管理
                <a href="/vip/add" ><span type="button" class="layui-btn layui-btn-radius layui-btn-warm">
                    新增会员
                </span>
                </a>
            </div>
            <div class="col-lg-9" >
                <table class="table table-bordered">
                    <colgroup>
                        <col width="150">
                        <col width="200">
                        <col>
                    </colgroup>
                    <thead>
                    <tr>
                        <th>会员号</th>
                        <th>会员名</th>
                        <th>性别</th>
                        <th>年龄</th>
                        <th>电子邮箱</th>
                        <th>电话号码</th>
                        <th>入会时间</th>
                        <th>到期时间</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="vip :${vips}">
                        <td th:text="${vip.id}" id="vipid"></td>
                        <td th:text="${vip.vipname}"></td>
                        <td th:text="${vip.sex}"></td>
                        <td th:text="${vip.age}"></td>
                        <td th:text="${vip.email}"></td>
                        <td th:text="${vip.telephone}"></td>
                        <td  th:text="${#dates.format(vip.begintime, 'yyyy-MM-dd HH:mm:ss')}"></td>
                        <td th:text="${#dates.format(vip.endtime, 'yyyy-MM-dd HH:mm:ss')}"></td>
                        <td>

                                <button th:value="${vip.id}" name="del" class="btn btn-sm btn-primary"
                                >删除</button>

                               <button class="btn btn-sm btn-danger" name="verify"  th:value="${vip.id}"
                               >编辑</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <!--导航条-->
                <nav aria-label="Page navigation">
                    <ul class="pagination">
                        <li th:if="${page.hasPrevious()}" >
                            <a   th:href="'/main?pageNum=' + ${page.getCurrent()-1}" aria-label="Previous">
                                <span aria-hidden="true">&lsaquo;</span>
                            </a>
                        </li>
                        <li th:if="${page.hasPrevious()}" >
                            <a   th:href="'/main?pageNum=' + ${1}" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li th:each="pageNum:${totalPage}" th:class="${page.getCurrent() == pageNum}? 'active' : '' ">
                            <a th:href="'/main?pageNum=' + ${pageNum}" th:text="${pageNum}" >
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        </li>

                        <li th:if="${page.hasNext()}">
                            <a th:href="'/main?pageNum=' + ${page.getCurrent()+1}" aria-label="Next">
                                <span aria-hidden="true">&rsaquo;</span>
                            </a>
                        </li>
                        <li th:if="${page.hasNext()}">
                            <a th:href="'/main?pageNum=' + ${page.getPages()}" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
                <div id="main" style="width:100%;height:400px"></div>
            </div>
        </div>
    </div>
    </div>
        </div>





<script>
    $(":button[name='del']").click(function () {
        var val = $(this).val();

        layer.open({
            type: 1,
            content: '确定要删除id为'+val+'的会员吗',
            shadeClose:true,
            btn: ['确定', '取消'],
            btn1:function () {
                $.ajax({
                    url:"/vip/delete?id="+val,
                    async:false,
                    success:function (data) {
                        if(data == "删除成功"){
                            window.alert(data);
                            location.reload();
                        }else {
                            window.alert("删除失败");
                        }

                    }
                })
            },
            btn2:function () {
                layer.closeAll();
            }

        });



    })

$(":button[name='verify']").on('click',function () {
    var uid = $(this).val();
    var count = null;
    var d = null;

    layer.open({
        type:2,
        title:'编辑',
        area:['500px','600px'],
        shadeClose:true,//点击遮罩层关闭
        content: "/vip/getit?vipid="+uid,
        anim:5,
        end:function () {
            location.reload();
        }
    });


})
Date.prototype.Format = function (fmt) {
    var o = {
        "M+": this.getMonth() + 1, //月份
        "d+": this.getDate(), //日
        "h+": this.getHours(), //小时
        "m+": this.getMinutes(), //分
        "s+": this.getSeconds(), //秒
        "q+": Math.floor((this.getMonth() + 3) / 3), //季度
        "S": this.getMilliseconds() //毫秒
    };
    if (/(y+)/.test(fmt)) fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
    for (var k in o)
        if (new RegExp("(" + k + ")").test(fmt)) fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
    return fmt;
}




var myChart = echarts.init(document.getElementById('main'));

// 模拟数据
function getVirtulData(year) {
    year = year || '2020';
    var date = +echarts.number.parseDate(year + '-01-01');
    var end = +echarts.number.parseDate(year + '-12-31');
    var dayTime = 3600 * 24 * 1000;
    var data = [];
    for (var time = date; time <= end; time += dayTime) {
        data.push([
            echarts.format.formatTime('yyyy-MM-dd', time),
            Math.floor(Math.random() * 10000)
        ]);
    }
    return data;
}
var option = {
    title: {
        top: 0,
        left: 'center',
        text: '2020年到到店人数'
    },
    visualMap: {
        show: false,
        min: 0,
        max: 10000
    },
    tooltip: {},
    calendar: {
        range: '2020'
    },
    series: {
        type: 'heatmap',
        coordinateSystem: 'calendar',
        data: getVirtulData(2020)
    }
};
myChart.setOption(option);

</script>


</body>
</html>