<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../cssforLogin/style.css">
  <title>请注册</title>
</head>

<body>
  <div class="container">
    <div class="login-wrapper">
      <div class="header">注册</div>
      <div class="form-wrapper">
        <form action="/handlesign" method="post">
        <input type="text" name="username" placeholder="账号..." class="input-item">
        <input type="password" name="password" placeholder="密码..." class="input-item">
        <input type="password" name="password2" placeholder="再次输入密码..." class="input-item">
          <!--两次密码出错提示信息-->
          <span th:text="${error}"></span>
        <a href="/sign"><input type="submit" value="注册" class="btn"></a>
        </form>
      </div>
    </div>
  </div>
</body>
</html>